/* _artisansList.scss */

@use '../colors';
@use '../spacing';

// ================================================================================================
// ARTISANS_LIST PAGE TOKENS COMPONENT
// ================================================================================================

// COLORS
// ------------------------------------------------------------------------------------------------
$artisans-list-controls-bg-color:       colors.$color-bg-surface-emphasis;
$artisans-list-results-empty-color:     colors.$color-text-disabled;

// SPACING
// ------------------------------------------------------------------------------------------------
$artisans-list-gap:                     spacing.$sp-16;