// ================================================================================================
// CARD COMPONENT TOKENS
// ================================================================================================

@use '../border';
@use '../colors';
@use '../radius';
@use '../scale';
@use '../spacing';

// SIZE
// ------------------------------------------------------------------------------------------------
$card-media-size:                       scale.$scale-64;

$card-rating-star-size-md:              scale.$scale-20;
$card-rating-star-size-sm:              scale.$scale-16;

$card-horizontale-min-width:            392px;
$card-verticale-min-width:              216px;

// SPACING
// ------------------------------------------------------------------------------------------------
$card-inner-spacing:                    spacing.$sp-16;

$card-header-gap:                       spacing.$sp-16;
$card-header-meta-gap:                  spacing.$gap-8;

$card-body-gap:                         spacing.$sp-12;
$card-body-meta-gap:                    spacing.$gap-8;

// BORDER
// ------------------------------------------------------------------------------------------------
$card-border:                           border.$border-thin solid colors.$color-border-default;

// RADIUS
// ------------------------------------------------------------------------------------------------
$card-radius:                           radius.$radius-sm;
$card-media-radius:                     radius.$radius-sm;

// COLORS
// ------------------------------------------------------------------------------------------------
$card-media-bg:                         colors.$color-bg-muted;