/* _divider.scss */

@use '../colors';
@use '../border';

// ================================================================================================
// DIVIDER TOKENS COMPONENT
// ================================================================================================

$divider-thickness:                     border.$border-thin;
$divider-size-sm:                       160px;
$divider-size-md:                       320px;
$divider-size-lg:                       480px;