// ================================================================================================
// DIVIDER COMPONENT TOKENS
// ================================================================================================

@use '../border';

// BORDER
// ------------------------------------------------------------------------------------------------
$divider-thickness:                     border.$border-thin;

// SIZE
// ------------------------------------------------------------------------------------------------
$divider-size-sm:                       160px;
$divider-size-md:                       320px;
$divider-size-lg:                       480px;