// ================================================================================================
// FORM COMPONENT TOKENS
// ================================================================================================

@use '../border';
@use '../colors';
@use '../font';
@use '../radius';
@use '../spacing';

@use '../../../tools/functions';

// SPACING
// ------------------------------------------------------------------------------------------------
$form-gap:                              spacing.$gap-16;

$form-field-gap:                        spacing.$gap-16;
$form-field-padding-x:                  spacing.$sp-16;
$form-field-padding-y:                  spacing.$sp-12;

$form-field-label-padding-x:            spacing.$sp-8;

// TYPOGRAPHY
// ------------------------------------------------------------------------------------------------
$form-field-placeholder-lh:             font.$lh-label;
$form-field-label-size:                 font.$label-size-sm;

// BORDER
// ------------------------------------------------------------------------------------------------
$form-field-border-size:                border.$border-thin;

// RADIUS
// ------------------------------------------------------------------------------------------------
$form-field-radius:                     radius.$radius-sm;
$form-field-label-radius:               radius.$radius-sm;

// COLORS
// ------------------------------------------------------------------------------------------------
$form-field-bg-color:                   colors.$color-bg-surface-emphasis;
$form-field-border-color:               colors.$color-border-default;

$form-field-placeholder-color:          colors.$color-text-placeholder;

$form-field-label-color:                colors.$color-text-emphasis-primary;

$form-field-text-color-error:           colors.$color-text-danger;
$form-field-bg-color-error:             colors.$color-bg-danger;
$form-field-border-color-error:         colors.$color-border-danger;

// STATES
// ------------------------------------------------------------------------------------------------
// Focus
$form-field-border-color-active:        colors.$color-border-emphasis-primary;
$form-field-label-border-color-active:  colors.$color-border-emphasis-primary;

// POSITION
// ------------------------------------------------------------------------------------------------
$form-field-placeholder-top:            spacing.$sp-16 - functions.rem(2px);
$form-field-placeholder-left:           spacing.$sp-16;

$form-field-label-left:                 spacing.$sp-12;