// ================================================================================================
// GALLERY COMPONENT TOKENS
// ================================================================================================

@use '../colors';
@use '../radius';
@use '../shadow';
@use '../spacing';

// SPACING
// ------------------------------------------------------------------------------------------------
$gallery-gap:                               spacing.$gap-16;

// BORDER
// ------------------------------------------------------------------------------------------------
$lightbox-border-size:                      10px;
// RADIUS
// ------------------------------------------------------------------------------------------------
$gallery-image-radius:                      radius.$radius-sm;

// SHADOW
// ------------------------------------------------------------------------------------------------
$lightbox-shadow:                           shadow.$shadow-overlay;

// COLORS
// ------------------------------------------------------------------------------------------------
$lightbox-bg-color:                         colors.$color-bg-overlay;
$lightbox-border-color:                     colors.$color-bg-surface;
