/* _icon.scss */

@use '../spacing';
@use '../scale';
@use '../colors';
@use '../radius';

// ================================================================================================
// ICON TOKENS COMPONENT
// ================================================================================================

// ICON SIZE
// ------------------------------------------------------------------------------------------------
$icon-xs:                               scale.$scale-12;
$icon-sm:                               scale.$scale-16;
$icon-md:                               scale.$scale-24;
$icon-lg:                               scale.$scale-32;

// ICON BUTTON SIZE
// ------------------------------------------------------------------------------------------------
$icon-btn-xs:                           spacing.$sp-20;
$icon-btn-sm:                           spacing.$sp-24;
$icon-btn-md:                           spacing.$sp-32;
$icon-btn-lg:                           spacing.$sp-48;

// ICON OFFSET
// ------------------------------------------------------------------------------------------------
$icon-optical-offset-y:                 2px;