// ================================================================================================
// ICON COMPONENT TOKENS
// ================================================================================================

@use '../scale';

// SIZE
// ------------------------------------------------------------------------------------------------
$icon-xs:                               scale.$scale-12;
$icon-sm:                               scale.$scale-16;
$icon-md:                               scale.$scale-24;
$icon-lg:                               scale.$scale-32;

// OFFSET
// ------------------------------------------------------------------------------------------------
$icon-optical-offset-y:                 2px;