// ================================================================================================
// LIGHTBOX COMPONENT TOKENS
// ================================================================================================

@use '../colors';
@use '../radius';
@use '../shadow';
@use '../spacing';

// BORDER
// ------------------------------------------------------------------------------------------------
$lightbox-border-size:                      10px;

// RADIUS
// ------------------------------------------------------------------------------------------------
$lightbox-radius:                           radius.$radius-md;

// SHADOW
// ------------------------------------------------------------------------------------------------
$lightbox-shadow:                           shadow.$shadow-overlay;

// COLORS
// ------------------------------------------------------------------------------------------------
$lightbox-bg-color:                         colors.$color-bg-overlay;
$lightbox-border-color:                     colors.$color-bg-surface;

// OFFSET
// ------------------------------------------------------------------------------------------------
$lightbox-close-button-offset:              spacing.$gap-24;
