// ================================================================================================
// NAV ITEM COMPONENT TOKENS
// ================================================================================================

@use '../colors';
@use '../font';
@use '../spacing';

@use './icon';

// SIZE
// ------------------------------------------------------------------------------------------------
$nav-item-text-size:                    font.$label-size-md;
$nav-item-icon-size:                    icon.$icon-xs;

$nav-item-max-width-desktop:            240px;

// SPACING
// ------------------------------------------------------------------------------------------------
$nav-item-padding-y:                    spacing.$sp-8;

// TYPOGRAPHY
// ------------------------------------------------------------------------------------------------
$nav-item-text-lh:                      font.$lh-label;

// COLORS
// ------------------------------------------------------------------------------------------------
$nav-item-text-color:                   colors.$color-text-default;
$nav-item-icon-color:                   colors.$color-icon-default;

// STATES
// ------------------------------------------------------------------------------------------------
// Hover
$nav-item-text-color-hover:             colors.$color-text-emphasis-primary;