// ================================================================================================
// SOCIALBAR COMPONENT TOKENS
// ================================================================================================

@use '../border';
@use '../colors';
@use '../scale';
@use '../spacing';

// SIZE
// ------------------------------------------------------------------------------------------------
$socialbar-btn-size:                    scale.$scale-32;
$socialbar-icon-size:                   22px;

// SPACING
// ------------------------------------------------------------------------------------------------
$socialbar-padding:                     spacing.$sp-24;
$socialbar-icons-gap:                   spacing.$sp-12;

// COLORS
// ------------------------------------------------------------------------------------------------
$socialbar-bg-color:                    colors.$color-bg-surface;