/* _border.scss */

// ================================================================================================
// PRIMITIVE
// ================================================================================================

$border-thin:                           1px;
$border-default:                        2px;
$border-thick:                          4px;