/* _scale.scss */

@use '../tools/functions';

// ================================================================================================
// PRIMITIVE
// ================================================================================================

$scale-4:                           functions.rem(4px);
$scale-8:                           functions.rem(8px);
$scale-12:                          functions.rem(12px);
$scale-16:                          functions.rem(16px);
$scale-20:                          functions.rem(20px);
$scale-24:                          functions.rem(24px);
$scale-32:                          functions.rem(32px);
$scale-40:                          functions.rem(40px);
$scale-48:                          functions.rem(48px);
$scale-56:                          functions.rem(56px);
$scale-64:                          functions.rem(64px);
$scale-80:                          functions.rem(80px);
$scale-96:                          functions.rem(96px);