/* _sizes.scss */

@use './scale';

// ================================================================================================
// PRIMITIVE
// ================================================================================================

// VIEWPORT
// ------------------------------------------------------------------------------------------------
$viewport-height:                       100vh;
$viewport-height-dynamic:               100dvh;
$viewport-width:                        100vw;

// CONTAINER
// ------------------------------------------------------------------------------------------------
$container-max-width:                   1160px;

// ================================================================================================
// SEMANTIC
// ================================================================================================

$full-bleed-offset:                     -($viewport-width);

// HEADER
// ------------------------------------------------------------------------------------------------
$header-height-mobile:                  scale.$scale-64;
$header-height-tablet:                  scale.$scale-80;
$header-height-desktop:                 scale.$scale-96;