/* _sizes.scss */

@use './scale';

// ================================================================================================
// PRIMITIVE
// ================================================================================================

// VIEWPORT
// ------------------------------------------------------------------------------------------------
$viewport-height:                       100vh;
$viewport-height-dynamic:               100dvh;
$viewport-width:                        100vw;

// CONTAINER
// ------------------------------------------------------------------------------------------------
$container-max-width:                   1160px;

// ASIDE
// ------------------------------------------------------------------------------------------------
$aside-width:                           296px;