/* _spacing.scss */

@use '../tools/functions';
@use './scale';

// ================================================================================================
// PRIMITIVE
// ================================================================================================

$sp-4:                              scale.$scale-4;
$sp-8:                              scale.$scale-8;
$sp-12:                             scale.$scale-12;
$sp-16:                             scale.$scale-16;
$sp-20:                             scale.$scale-20;
$sp-24:                             scale.$scale-24;
$sp-32:                             scale.$scale-32;
$sp-40:                             scale.$scale-40;
$sp-48:                             scale.$scale-48;
$sp-56:                             scale.$scale-56;
$sp-64:                             scale.$scale-64;

// ================================================================================================
// SEMANTIC
// ================================================================================================

// FLOW
// ------------------------------------------------------------------------------------------------
$flow-desktop-md:                   $sp-48;
$flow-tablet-md:                    $sp-32;

$flow-mobile-sm:                    $sp-16;
$flow-mobile-md:                    $sp-24;

// CONTAINER
// ------------------------------------------------------------------------------------------------
$container-padding-x:               $sp-24;

// LAYOUT
// ------------------------------------------------------------------------------------------------
$layout-padding-y-sm:               $sp-24;
$layout-padding-y-md:               $sp-32;
$layout-padding-y-lg:               $sp-48;

// GAP
// ------------------------------------------------------------------------------------------------
$gap-3xl:                           $sp-64;
$gap-2xl:                           $sp-56;
$gap-xl:                            $sp-48;
$gap-lg:                            $sp-32;
$gap-md:                            $sp-24;
$gap-sm:                            $sp-16;
$gap-xs:                            $sp-8;