/* _base.scss */

@use '../config/tokens';

// ================================================================================================
// BODY
// ================================================================================================

body {
    font-family:                        tokens.$font-primary;
    font-size:                          tokens.$body-size-md;
    line-height:                        tokens.$lh-body;
    color:                              tokens.$color-text-default;
    background-color:                   tokens.$color-bg-page;
}

// ================================================================================================
// HEADING
// ================================================================================================

h1,
h2,
h3,
h4,
h5 {
    line-height:                        tokens.$lh-heading;
}

.heading-xl {
    font-size:                          tokens.$heading-xl-fluid;
}

.heading-lg {
    font-size:                          tokens.$heading-lg-fluid;
}

.heading-md {
    font-size:                          tokens.$heading-md-fluid;
}

.heading-sm {
    font-size:                          tokens.$heading-sm-fluid;
}

.heading-xs {
    font-size:                          tokens.$heading-xs-fluid;
}

.heading-xl,
.heading-lg,
.heading-md,
.heading-sm,
.heading-xs {
    color:                              tokens.$color-text-emphasis-secondary;
    font-weight:                        700;

    &__accent {
        position:                       relative;
        padding-top:                    16px;

        &::before {
            content:                    "";
            position:                   absolute;
            top:                        0;
            left:                       0;
            width:                      18px;
            height:                     6px;
            
            background:                 currentColor;
        }

        &--primary::before {
            background:                 tokens.$color-decoration-primary;
        }

        &--secondary::before {
            background:                 tokens.$color-decoration-secondary;
        }

        &--tertiary::before {
            background:                 tokens.$color-decoration-tertiary;
        }
    }
}

// ================================================================================================
// FLOW
// ================================================================================================

.flow-sm > * + * {
    margin-top:                         tokens.$flow-mobile-sm;
}

.flow-md > * + * {
    margin-top:                         tokens.$flow-mobile-md;
}

@media (min-width: tokens.$bp-md) {
    .flow-sm > * + * {
        margin-top:                     tokens.$flow-tablet-sm;
    }

    .flow-md > * + * {
        margin-top:                     tokens.$flow-tablet-md;
    }
}

@media (min-width: tokens.$bp-xl) {
    .flow-sm > * + * {
        margin-top:                     tokens.$flow-desktop-sm;
    }

    .flow-md > * + * {
        margin-top:                     tokens.$flow-desktop-md;
    }
}

// ================================================================================================
// FOCUS-VISIBLE
// ================================================================================================

:focus-visible {
    outline:                            tokens.$border-thin solid tokens.$color-focus-primary;
    outline-offset:                     tokens.$border-thin;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline:                            tokens.$border-default solid tokens.$color-focus-input;
}