// ================================================================================================
// FOUNDATION BORDER TOKENS
// ================================================================================================

// ================================================================================================
// PRIMITIVE
// ================================================================================================

// SIZES
// ------------------------------------------------------------------------------------------------
$border-thin:                           1px;
$border-medium:                         2px;
$border-thick:                          4px;

// OFFSETS
// ------------------------------------------------------------------------------------------------
$border-offset-sm:                      2px;
$border-offset-md:                      3px;
$border-offset-lg:                      4px;