/* _border.scss */

// ================================================================================================
// PRIMITIVE
// ================================================================================================

// SIZES
// ------------------------------------------------------------------------------------------------
$border-thin:                           1px;
$border-default:                        2px;
$border-thick:                          4px;

// OFFSETS
// ------------------------------------------------------------------------------------------------
$border-offset-default:                 2px;