// ================================================================================================
// FOUNDATION BORDER TOKENS
// ================================================================================================

// ================================================================================================
// PRIMITIVE
// ================================================================================================

// SIZES
// ------------------------------------------------------------------------------------------------
$border-thin:                           1px;
$border-medium:                         2px;
$border-thick:                          4px;

// OFFSETS
// ------------------------------------------------------------------------------------------------
$border-offset-default:                 2px;