// ================================================================================================
// FOUNDATION COLOR TOKENS
// ================================================================================================

@use 'sass:color';

// ================================================================================================
// PRIMITIVE
// ================================================================================================

// BASE
// ------------------------------------------------------------------------------------------------
$color-white:                           #ffffff;
$color-black:                           #384050;

// PRIMARY
// ------------------------------------------------------------------------------------------------
$color-primary-100:                     #F1F8FC;
$color-primary-500:                     #0074C7;
$color-primary-900:                     #00497C;

// ACCENT
// ------------------------------------------------------------------------------------------------
$color-accent-primary:                  #CD2C2E;
$color-accent-secondary:                #82B864;
$color-accent-tertiary:                 #EEC220;

// NEUTRAL
// ------------------------------------------------------------------------------------------------
$color-neutral-900:                     #4C566A;
$color-neutral-800:                     #626D83;
$color-neutral-700:                     #78849C;
$color-neutral-600:                     #909DB6;
$color-neutral-500:                     #A9B6D0;
$color-neutral-400:                     #C3D0E9;
$color-neutral-300:                     #DBE7FF;
$color-neutral-200:                     #EBF2FF;
$color-neutral-100:                     #FBFCFF;

// ================================================================================================
// SEMANTIC
// ================================================================================================

// TEXT
// ------------------------------------------------------------------------------------------------
$color-text-default:                    $color-black;
$color-text-inverse:                    $color-white;
$color-text-emphasis-primary:           $color-primary-500;
$color-text-emphasis-secondary:         $color-primary-900;
$color-text-placeholder:                $color-neutral-800;
$color-text-disabled:                   $color-neutral-500;
$color-text-danger:                     $color-accent-primary;
$color-text-success:                    $color-accent-secondary;
$color-text-info:                       $color-primary-500;

// LINK
// ------------------------------------------------------------------------------------------------
$color-link-text-default:               $color-primary-500;
$color-link-text-emphasis:              $color-black;
$color-link-text-inverse:               $color-white;

// BACKGROUND
// ------------------------------------------------------------------------------------------------
$color-bg-page:                         $color-white;
$color-bg-surface:                      $color-white;
$color-bg-surface-emphasis:             $color-primary-100;
$color-bg-muted:                        $color-primary-100;
$color-bg-disabled:                     $color-primary-100;
$color-bg-primary:                      $color-primary-500;
$color-bg-secondary:                    $color-primary-900;
$color-bg-danger:                       color.scale($color-accent-primary, $lightness: 95%);
$color-bg-success:                      color.scale($color-accent-secondary, $lightness: 95%);
$color-bg-info:                         color.scale($color-primary-500, $lightness: 95%);
$color-bg-overlay:                      color.change($color-neutral-400, $alpha: 95%);
$color-bg-inverse:                      $color-black;

// BORDER
// ------------------------------------------------------------------------------------------------
$color-border-default:                  $color-black;
$color-border-inverse:                  $color-white;
$color-border-emphasis-primary:         $color-primary-500;
$color-border-emphasis-secondary:       $color-primary-900;
$color-border-danger:                   $color-accent-primary;
$color-border-success:                  $color-accent-secondary;
$color-border-info:                     $color-primary-500;
$color-border-disabled:                 $color-neutral-500;

// ICON
// ------------------------------------------------------------------------------------------------
$color-icon-default:                    $color-black;
$color-icon-inverse:                    $color-white;
$color-icon-muted:                      $color-neutral-400;
$color-icon-emphasis-primary:           $color-primary-500;
$color-icon-emphasis-secondary:         $color-primary-900;
$color-icon-disabled:                   $color-neutral-500;

// DECORATION
// ------------------------------------------------------------------------------------------------
$color-decoration-default:              $color-black;
$color-decoration-inverse:              $color-white;
$color-decoration-primary:              $color-primary-500;
$color-decoration-secondary:            $color-accent-secondary;
$color-decoration-tertiary:             $color-accent-primary;

// FOCUS
// ------------------------------------------------------------------------------------------------
$color-focus-primary:                   $color-primary-500;
$color-focus-inverse:                   $color-white;
$color-focus-input:                     $color-accent-tertiary;