/* _spacing.scss */

@use '../../tools/functions';
@use './scale';

// ================================================================================================
// PRIMITIVE
// ================================================================================================

$sp-4:                              scale.$scale-4;
$sp-8:                              scale.$scale-8;
$sp-12:                             scale.$scale-12;
$sp-16:                             scale.$scale-16;
$sp-20:                             scale.$scale-20;
$sp-24:                             scale.$scale-24;
$sp-32:                             scale.$scale-32;
$sp-40:                             scale.$scale-40;
$sp-48:                             scale.$scale-48;
$sp-56:                             scale.$scale-56;
$sp-64:                             scale.$scale-64;
$sp-80:                             scale.$scale-80;
$sp-96:                             scale.$scale-96;

// ================================================================================================
// SEMANTIC
// ================================================================================================

// GAP
// ------------------------------------------------------------------------------------------------
$gap-96:                            $sp-96;
$gap-80:                            $sp-80;
$gap-64:                            $sp-64;
$gap-56:                            $sp-56;
$gap-48:                            $sp-48;
$gap-32:                            $sp-32;
$gap-24:                            $sp-24;
$gap-16:                            $sp-16;
$gap-12:                            $sp-12;
$gap-8:                             $sp-8;
$gap-4:                             $sp-4;

// FLOW
// ------------------------------------------------------------------------------------------------
$flow-desktop-md:                   $sp-32;
$flow-desktop-sm:                   $sp-24;

$flow-tablet-md:                    $sp-24;
$flow-tablet-sm:                    $sp-16;

$flow-mobile-md:                    $sp-16;
$flow-mobile-sm:                    $sp-8;

// CONTAINER
// ------------------------------------------------------------------------------------------------
$container-padding-x:               $sp-24;

// SECTION
// ------------------------------------------------------------------------------------------------
$section-padding-sm:                $sp-24;
$section-padding-md:                $sp-32;
$section-padding-lg:                $sp-48;

// LAYOUT
// ------------------------------------------------------------------------------------------------
$layout-gap-compact:                $sp-8;
$layout-gap-normal:                 $sp-16;
$layout-gap-spacious:               $sp-32;