// ================================================================================================
// FOUNDATION Z-INDEX TOKENS
// ================================================================================================

// ================================================================================================
// PRIMITIVE
// ================================================================================================

$z-negatif:                             -1;
$z-0:                                   0;
$z-10:                                  10;
$z-50:                                  50;
$z-100:                                 100;
$z-200:                                 200;

// ================================================================================================
// SEMANTIC
// ================================================================================================

$z-behind:                              $z-negatif;
$z-base:                                $z-0;
$z-floating-control:                    $z-10;
$z-decor:                               $z-50;
$z-header:                              $z-100;
$z-header-dropdown:                     $z-header + $z-10;
$z-overlay:                             $z-200;
