/* home.scss */

@use '../settings/tokens';
@use '../tools';

.home {

    /* =====================================================
        STRUCTURE
    ===================================================== */

    &__grid {
        @include                        tools.grid-columns-no-gap;
    }

    &__hero {
        position:                       relative;
        height:                         100%;
        z-index:                        tokens.$z-base;
        
        /* =====================================================
            BACKGROUND (étalement sur toute la largeur du viewport)
        ===================================================== */
        &::before {
            content:                    "";
            @include                    tools.full-bleed;
            background:                 tokens.$home-hero-bg;
            z-index:                    tokens.$z-behind;
        }
    }

    &__top-artisans .alert {
        margin-top:                     tokens.$alert-margin-top;
    }

    &__top-artisans-grid {
        @include                        tools.grid-custom(1fr, tokens.$flow-mobile-md);
    }
}

.hero__step-list {
    margin-bottom:                      0;
}

/* =====================================================
    TABLET
===================================================== */

@media (min-width: tokens.$bp-md) {
    .home {
        &__top-artisans-grid {
            @include                    tools.grid-equal(3);
        }
    }
}

/* =====================================================
    DESKTOP
===================================================== */

@media (min-width: tokens.$bp-lg) {
    .home {
        &__grid {
            @include                    tools.grid-columns-no-gap(420px auto);
        }

        &__hero::before {
            content:                    none;
        }

        &__hero {
            background:                 tokens.$home-hero-bg;
        }

        &__top-artisans-grid {
            @include                    tools.grid-custom(1fr, tokens.$flow-desktop-sm);
        }
    }
}