// ================================================================================================
// ARTISANS DETAILS PAGE COMPONENT TOKENS
// ================================================================================================

@use '../colors';
@use '../font';
@use '../radius';
@use '../spacing';

// SIZE
// ------------------------------------------------------------------------------------------------
$artisan-details-media-size:            197px;
$artisan-details-submeta-size:          font.$label-size-lg;

// SPACING
// ------------------------------------------------------------------------------------------------
$artisan-details-meta-gap:              spacing.$gap-8;

// TYPOGRAPHY
// ------------------------------------------------------------------------------------------------
$artisan-details-submeta-lh:            font.$lh-100;

// RADIUS
// ------------------------------------------------------------------------------------------------
$artisan-details-media-radius:          radius.$radius-sm;

// COLORS
// ------------------------------------------------------------------------------------------------
$artisan-details-bg-color:              colors.$color-bg-surface-emphasis;
$artisan-details-media-bg-color:        colors.$color-bg-muted;