/* _artisanDetails.scss */

@use '../colors';
@use '../radius';
@use '../font';
@use '../spacing';

// ================================================================================================
// ARTISANS_DETAILS PAGE TOKENS COMPONENT
// ================================================================================================

// HEADER
// ------------------------------------------------------------------------------------------------
$artisan-details-bg-color:              colors.$color-bg-surface-emphasis;

// Media
$artisan-details-media-bg-color:        colors.$color-bg-muted;
$artisan-details-media-border-radius:   radius.$radius-sm;

$artisan-details-media-size:            197px;

// Meta
$artisan-details-submeta-lh:            font.$lh-100;
$artisan-details-submeta-size:          font.$label-size-lg;
$artisan-details-meta-gap:              spacing.$gap-8;
