/**
================================================================================================
_artisanCard.scss
================================================================================================
Les variants (horizontal / vertical) sont conceptualisés dans le fichier :
    - /styles/config/tools/_mixins.scss

Il est volontaire d'avoir réalisé cela par le biais des mixins à des fins de réutilisabilité
dans le but d'adapter le variant affiché (UI) en fonction de la taille du viewport.
================================================================================================
*/

@use '../config/tokens';
@use '../config/tools';

.artisan-card {
    @include                            tools.flex-column;
    border:                             tokens.$card-border;
    border-radius:                      tokens.$card-radius;
    overflow:                           hidden;

    /* =====================================================
        STRUCTURE
    ===================================================== */

    &__content {
        @include                        tools.flex-column;
        @include                        tools.stack(sm);
    }

    &__header {
        gap:                            tokens.$card-header-gap;
    }

    &__header-meta {
        @include tools.flex-column;
        flex:                           1;
        width:                          100%;
    }

    &__divider {
        @include                        tools.divider;
    }

    &__body {
        @include                        tools.flex-between;
    }

    &__body-meta {
        flex:                           1;
        width:                          100%;
        gap:                            tokens.$card-body-meta-gap;
    }

    &__media {
        overflow:                       hidden;
    }

    &__image {
        width:                          100%;
        height:                         100%;
        object-fit:                     cover;
        background-color:               tokens.$card-media-bg;
    }
}

/* =====================================================
	META
===================================================== */

.artisan-card__body-meta {
    &-specialty,
    &-localisation {
        line-height:                    tokens.$lh-100;
    }

    &-specialty {
        font-weight:                    700;
    }
}

/* =====================================================
	SKELETON
===================================================== */

.skeleton--button {
    width:                          144px;
}

/* =====================================================
	VARIANTS
===================================================== */

.artisan-card--horizontal {
    padding: tokens.$card-spacing;
    min-width: 392px;

    .artisan-card__media {
        width: tokens.$card-media-size;
        height: tokens.$card-media-size;
        border-radius: tokens.$card-media-radius;
        flex-shrink: 0;
    }

    .artisan-card__header {
        @include tools.flex-row;
        text-align: left;
    }

    .artisan-card__header-meta {
        padding-inline: 0;
    }

    .rating {
        justify-content: left;
    }

    .artisan-card__divider {
        margin-inline: 0;
    }

    .artisan-card__body {
        flex-direction: row;
        align-items: flex-end;
        padding-inline: 0;
    }

    .artisan-card__body-meta {
        @include tools.flex-column;
        text-align: left;
    }
}

.artisan-card--vertical {
    padding: 0;
    padding-bottom: tokens.$card-spacing;
    min-width: 216px;

    .artisan-card__media {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 0;
    }

    .artisan-card__header {
        @include tools.flex(flex, center, center, column);
        text-align: center;
    }

    .artisan-card__header-meta {
        padding-inline: tokens.$card-spacing;
        align-items: center;
    }

    .rating {
        justify-content: center;
    }

    .rating__star {
        height: tokens.$card-rating-star-size-sm;
    }

    .artisan-card__divider {
        margin-inline: tokens.$card-spacing;
    }

    .artisan-card__body {
        flex-direction: column;
        align-items: center;
        padding-inline: tokens.$card-spacing;
        gap: tokens.$card-body-gap;
    }

    .artisan-card__body-meta {
        @include tools.flex-column-center;
        text-align: center;
    }
}