/* _header.scss */

@use '../config/tokens';
@use '../config/tools';

.header {
    position:                           relative;
    @include                    		tools.flex-column;
    background:                         tokens.$header-bg;
    box-shadow:                         tokens.$shadow-header;
    height:                             tokens.$header-height-mobile;
    z-index:                            tokens.$z-header;

    /* =====================================================
    	INNER
    ===================================================== */
    &__inner {
        @include 						tools.flex-between;
        height:                         100%;
        gap:                            tokens.$header-gap;
    }
    
    /* =====================================================
    	LOGO
    ===================================================== */
	&__logo-wrapper {
		@include 						tools.flex-center;
		height: 						100%;
	}

    &__logo {
        display:                        block;
        height:                         tokens.$header-height-logo-mobile;
        width:                          auto;
    }
    
    /* =====================================================
    	NAVBAR
    ===================================================== */
    &__nav {
		display:                    	flex;
		justify-content:            	end;
		flex:                       	1;
		height:                     	100%;
    }

    & .trigger {
        display:                        none;
    }

    /* =====================================================
    	SEARCHBAR (tablet / desktop)
    ===================================================== */
    &__search {
        display:                        none;

		& .searchbar {
			background-color: 			transparent;
		}
    }

    /* =====================================================
    	ACTIONS (mobile)
    ===================================================== */
    &__actions {
        @include                        tools.flex-center;
        height:                         100%;

        button {
            background:                 none;
            border:                     none;
            padding:                    0 tokens.$header-padding-x-action-button;
			height: 100%;
        }
    }

    &__icon {
        height:                         tokens.$icon-lg;
        width:                          auto;
        color:                          tokens.$header-icon;
    }

    /* =====================================================
    	PANELS
    ===================================================== */
    &__search-panel,
    &__menu-panel {
        @include 						tools.dropdown-panel;

        background:                     tokens.$header-bg;

        transform:                      translateY(tokens.$header-dropdown-offset-y);
        transition:                     tokens.$motion-fade-slide;
        z-index:                        tokens.$z-header-dropdown;
    }

    &__menu-panel.is-open,
    &__search-panel.is-open {
        @include 						tools.dropdown-active;
    }

    &__search-panel {
        padding-bottom:                 tokens.$searchbar-navbar-sp-mobile;
    }
}

/* =====================================================
	TABLET
===================================================== */

@media (min-width: tokens.$bp-md) {
	.header {
		height:                         tokens.$header-height-tablet;

		&__logo {
			height:                     tokens.$header-height-logo-tablet;
		}

		&__search {
			display:                    block;
		}

		&__actions {
			display:                    none;
		}

		&__search-panel,
		&__menu-panel {
			box-shadow:                 tokens.$shadow-header;
			border-bottom: 				tokens.$header-border-panel;
		}

		& .trigger {
            @include                    tools.inline-flex-center;
		}
	}
}

/* =====================================================
	DESKTOP
===================================================== */

@media (min-width: tokens.$bp-xl) {
	.header {
		height:                         tokens.$header-height-desktop;

		&__logo {
			height:                     tokens.$header-height-logo-desktop;
		}
	}
}