/* _card.scss */

@use '../spacing';
@use '../scale';
@use '../colors';
@use '../radius';
@use '../border';

// ================================================================================================
// ARTISAN CARD TOKENS COMPONENT
// ================================================================================================

// CARD
// ------------------------------------------------------------------------------------------------
$card-border:                           border.$border-thin solid colors.$color-border-default;
$card-radius:                           radius.$radius-sm;
$card-gap:                              spacing.$gap-16;
$card-spacing:                          spacing.$sp-16;

// HEADER
// ------------------------------------------------------------------------------------------------
$card-header-gap:                       spacing.$sp-16;

// BODY
// ------------------------------------------------------------------------------------------------
$card-body-gap:                         spacing.$sp-12;
$card-body-meta-gap:                    spacing.$gap-8;

// MEDIA
// ------------------------------------------------------------------------------------------------
$card-media-size:                       scale.$scale-64;
$card-media-radius:                     radius.$radius-sm;
$card-media-bg:                         colors.$color-bg-muted;

// RATING
// ------------------------------------------------------------------------------------------------
$card-rating-star-size-md:              scale.$scale-20;
$card-rating-star-size-sm:              scale.$scale-16;